.text-right {
    text-align: right;
}
        .addr {
            margin-bottom: 10px;
            font-style: normal;
            margin-left: 20px;
            line-height: 1.428571429;
        }

        .divCompany {
            padding: 10px;
            height: 320px;
        }

        .responsive-textbox {
            width: 50%;
        }

        span#lblCompanyName {
            font-size: 18px !important;
            color: #000 !important;
        }

        .table > thead > tr > td {
            padding: 1px;
            line-height: 1.428571429;
            vertical-align: top;
            border-top: 1px solid #ddd;
            margin-left: 10px;
        }
        .column {
          float: left;
          width: 30.33%;
          padding: 10px;/* Should be removed. Only for demonstration */
        }
        .col-3{
            float: left;
          width: 15%;
          padding: 10px;
        }
        .col-6{
            float: left;
          width: 60%;
         
        }
         .col-4{
            float: left;
          width: 20%;
        
        }
        .id{
            float: left;
          width: 50%;
          margin-left: 5px;
        }
        .email{
            float: left;
          width: 49%;
        }

        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }
        .col-md-3{
             float: left;
           width: 24%;
          height: 100%;
    overflow: hidden;
        }
        .table > thead > tr > td {
            line-height: 1.428571429;
            vertical-align: top;
            border: 1px solid #ddd;
            margin-left: 0px;
             table-layout: fixed;
           }
           .table-bordered {
            /*border: 1px solid #ddd;*/
            empty-cells: show;
        }
        table {
        /*border-collapse: collapse;*/
        border-spacing: 0;
         empty-cells: show;
         }
        table td[class*=col-], table th[class*=col-] {
            position: static;
            float: none;
            display: table-cell;
        }
        .container {
          display: flex;
          flex-wrap: wrap;
        }
        .inner {
          overflow: auto;
          display: flex;
          word-wrap: break-word;
          min-height: 10px;
          border: 1px solid black;
        }
        thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}style