<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ndfitnessplus">
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->
    <!-- <uses-permission android:name="android.permission.READ_PROFILE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_CONTACTS" /> -->
    <!-- <uses-permission android:name="android.permission.SEND_SMS" /> -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.MANAGE_USERS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- <uses-permission android:name="android.permission.CALL_PHONE" /> -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- Camera permissinos -->
    <uses-feature
        android:name="android.hardware.Camera"
        android:required="false" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity android:name=".Activity.AddStaffAttendanceActivity"></activity>
        <activity android:name=".Activity.StaffAttendanceFilterActivity" />
        <activity android:name=".Activity.StaffAttendanceActivity" />
        <activity android:name=".Activity.CourseWiseAttendanceDetailsActivity" />
        <activity android:name=".Activity.WorkoutFilterActivity" />
        <activity android:name=".Activity.WorkoutActivity" />
        <activity
            android:name=".Activity.AddWorkoutActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.AddDietActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.WorkoutDetailsDescriptionActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.WorkoutDetailsActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.MemberWorkoutActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.MemberDietActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.MemberMeasurementActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.MemberBeforeAfterActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.PushNotificationActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.CourseWiseAttendanceActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.CourseCongratulationActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.ImagePickerActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.POSDetailsTrasactionActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.DietActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />

        <activity
            android:name=".Activity.CartActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.POSProductDetailsActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.POSProductListActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.GenerateQRActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.POSAddBillingActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.POSShowItemActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.POSAddItemActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.POSActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.AttendenceFilterActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.MeasurementFilterActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.AddMeasurementActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.MeasurementActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.AttendenceActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.MemberMoreDetailsActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.RenewFollowupDetailsActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.OtherFollowupFilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Notification.StaffBirthdayFollowupActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.EnrollmentActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.FullImageActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.TermsAndConditionActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.ForgotPasswordActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.CollectionFilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CollectionActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.BalanceReceiptFilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.BalanceReceiptDetailsActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.CourseDetailsActivity"
            android:noHistory="true" />
        <activity
            android:name=".Activity.BalanceReceiptActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.CourseFilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MemberFilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MemberDetailsActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.CourseActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.MemberActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.MoreInfoActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.RenewActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.ExpenseFilterActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.AddExpensesActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".Activity.ExpensesActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.EnquiryFollowupDetailsActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.FollowupsActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.EnquiryFilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AddMemberActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.AddEnquiryActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.EnquiryActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.Notification.DoneFollowupActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.Notification.OtherFollowupActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.Notification.RenewFollowupActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.Notification.PaymentDateActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.Notification.MembershipEndDateActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.Notification.DeactiveMemberActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.Notification.ActiveMemberActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.Notification.EnquiryFollowupActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.Notification.TodaysEnrollmentActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.Notification.TodaysEnquiryActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.BranchSelectionActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.LoginActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.Notification.StaffBirthdayActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.Notification.MemberBirthdayActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.NotificationActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.SelectDomainActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Push Notification services -->
        <service android:name=".Notification.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Notification.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service> <!-- uCrop cropping activity -->
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" /> <!-- cache directory file provider paths -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>